upstream app_servers {
    {% for host in groups['webservers'] %}
        server {{ hostvars[host]['ansible_eth1']['ipv4']['address'] }};
    {% endfor %}
}

server {
    listen 80 default;

    location / {
        proxy_pass http://app_servers;
    }
}